root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
ij_any_wrap_long_lines = true
indent_style = space
insert_final_newline = true
max_line_length = 80
tab_width = 4
ij_continuation_indent_size = 4
ij_any_method_parameters_wrap = on_every_item
ij_smart_tabs = false
ij_wrap_on_typing = true
ij_any_align_multiline_parameters = true

[*.kt]
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = false
ij_kotlin_code_style_defaults = KOTLIN_OFFICIAL
